{{!-- <div class="container"> --}}
  <div class="jumbotron">
    {{!-- the jumbotron container start --}}
    <div class="container">
      {{!-- top row --}}
      <div class="row">
        <div class="col-md-12">
          <div class="page header text-center">
            <h1> Order a Yummy Burger</h1>
            <br>
          </div>
          {{!-- start new row for images and form --}}
          <div class="row">
            {{!-- start col for image --}}
            <div class="col-md-3">
              <div class="thumbnail">
                <img src="https://free-images.com/sm/348b/burger_kaiser_bun_food.jpg" class="img-thumbnail" alt="Placeholder">
                </div>
            </div>
            {{!-- end col for image --}}

            {{!-- start of the form input column --}}
            <div class="col-md-5">
              <panel>
                <form class="create-form">
                  <div class="form-group">
                    {{!-- <div class="form-group center" --}}
                    <label for="newBurger"><strong>Order your favorite burger</strong></label>
                    <br>
                    <br>
                    <input type="text" id="newburger" name="burger_name">
                    <br>
                    <br>
                    <button type="submit" class= "addburger btn btn-success fa fa-money btn-large" id="addburger"></button>
                    {{!-- <button type="button" class="eatburger btn btn-success fa fa-cutlery" id="eatbutton" data-id="{{this.id}}"></button> --}}
                      </div>
                  </div>
                </form>
              </panel>
            </div>
            {{!-- end form column --}}
                        {{!-- start col for image --}}
            <div class="col-md-3">
              {{!-- <div class="thumbnail">
                <img src="https://free-images.com/sm/348b/burger_kaiser_bun_food.jpg" class="img-thumbnail" alt="Placeholder">
                </div> --}}
            </div>
            {{!-- end col for image --}}
        </div>
      </div>
    </div>
  </div>
  {{!-- end the jumbotron container --}}
  {{!-- start of order and devour row & columns --}}

  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading" id="rightside"><strong>Order the Burger</strong></div>
          <div class="panel-body">
            <ul>
              {{#each burgers}}
              {{#unless devoured}}
              <li>
                <strong>{{this.burger_name}}</strong>
                <button type="button" class="eatburger btn btn-success fa fa-cutlery" id="eatbutton" data-id="{{this.id}}"></button>
              </li>
              {{/unless}}
              {{/each}}
            </ul>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading" id="rightside"><strong>Burger Was Eaten</strong></div>
          <div class="panel-body">
            <ul>
              {{#each burgers}}
              {{#if devoured}}
              <li>
                <span><strong> {{this.burger_name}}</strong></span>
                <button type="button" class="delete-burger btn btn-danger fa fa-trash" id="delete-burger" data-id="{{this.id}}"></button>
              </li></button>
              </li>
              {{/if}}
              {{/each}}
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>